@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=DM+Serif+Display&family=Roboto&family=Uncial+Antiqua&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  width: 70%;
  margin: auto auto;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: rgb(114, 34, 5);
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-family: "DM Serif Display", serif;
}

.header-hr {
  border: 1px solid black;
  margin-bottom: 20px;
}

.main-container {
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar {
  overflow: scroll;
  white-space: nowrap;
  margin: 30px 0 10px 0;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbar ul li {
  list-style: none;
  padding-bottom: 5px;
  margin: 0 20px;
}

.navbar ul li button {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 22px;
  font-family: "Bebas Neue", cursive;
  background-color: transparent;
  border: none;
  transition: 0.14s ease-in-out;
}

.navbar ul li button:hover {
  color: rgb(230, 61, 0);
}

.display-food-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  justify-items: stretch;
  margin-bottom: 20px;
  min-height: 90vh;
}

.food-item-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px 15px 0 0;
  flex-direction: column;
  overflow: hidden;
  transition: 0.24s ease-in-out;
}

.food-item-container img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.food-item-container .food-item-info {
  border: 1px solid #dddddd;
  border-top: none;
  position: relative;
  padding: 10px;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.food-item-name {
  font-family: "Archivo Black", sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.food-item-dsc {
  font-size: 15px;
  color: rgb(71, 71, 71);
  margin-bottom: 10px;
}

.price-wrapper {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 20px, rgba(0, 0, 0, 0.22) 0px 10px 8px;
  position: absolute;
  right: 5%;
  top: -5%;
  background-color: coral;
  padding: 5px 3px;
}

.food-item-price {
  font-weight: 700;
  font-size: 18px;
}

.food-item-country {
  font-weight: 700;
}

.default-img {
  line-height: 200px;
  background-color: black;
  color: whitesmoke;
  width: 100%;
}

.active-btn {
  color: rgb(230, 61, 0);
}

.burger-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sparkles > path {
  -webkit-animation: sparklyBits 1000ms infinite;
          animation: sparklyBits 1000ms infinite;
  position: absolute;
}

#message {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  text-align: center;
}

#sparkles > path:nth-child(1) {
  -webkit-animation-delay: 35ms;
          animation-delay: 35ms;
}

#sparkles > path:nth-child(2) {
  -webkit-animation-delay: 70ms;
          animation-delay: 70ms;
}

#sparkles > path:nth-child(3) {
  -webkit-animation-delay: 105ms;
          animation-delay: 105ms;
}

#sparkles > path:nth-child(4) {
  -webkit-animation-delay: 140ms;
          animation-delay: 140ms;
}

#sparkles > path:nth-child(5) {
  -webkit-animation-delay: 175ms;
          animation-delay: 175ms;
}

#sparkles > path:nth-child(6) {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}

#sparkles > path:nth-child(7) {
  -webkit-animation-delay: 245ms;
          animation-delay: 245ms;
}

#sparkles > path:nth-child(8) {
  -webkit-animation-delay: 280ms;
          animation-delay: 280ms;
}

#sparkles > path:nth-child(9) {
  -webkit-animation-delay: 315ms;
          animation-delay: 315ms;
}

#sparkles > path:nth-child(10) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

#sparkles > path:nth-child(11) {
  -webkit-animation-delay: 385ms;
          animation-delay: 385ms;
}

#sparkles > path:nth-child(12) {
  -webkit-animation-delay: 420ms;
          animation-delay: 420ms;
}

#sparkles > path:nth-child(13) {
  -webkit-animation-delay: 455ms;
          animation-delay: 455ms;
}

#sparkles > path:nth-child(14) {
  -webkit-animation-delay: 490ms;
          animation-delay: 490ms;
}

#sparkles > path:nth-child(15) {
  -webkit-animation-delay: 525ms;
          animation-delay: 525ms;
}

#sparkles > path:nth-child(16) {
  -webkit-animation-delay: 560ms;
          animation-delay: 560ms;
}

#sparkles > path:nth-child(17) {
  -webkit-animation-delay: 595ms;
          animation-delay: 595ms;
}

#sparkles > path:nth-child(18) {
  -webkit-animation-delay: 630ms;
          animation-delay: 630ms;
}

#sparkles > path:nth-child(19) {
  -webkit-animation-delay: 665ms;
          animation-delay: 665ms;
}

#sparkles > path:nth-child(20) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

#sparkles > path:nth-child(21) {
  -webkit-animation-delay: 735ms;
          animation-delay: 735ms;
}

#sparkles > path:nth-child(22) {
  -webkit-animation-delay: 770ms;
          animation-delay: 770ms;
}

#sparkles > path:nth-child(23) {
  -webkit-animation-delay: 805ms;
          animation-delay: 805ms;
}

#sparkles > path:nth-child(24) {
  -webkit-animation-delay: 840ms;
          animation-delay: 840ms;
}

#sparkles > path:nth-child(25) {
  -webkit-animation-delay: 875ms;
          animation-delay: 875ms;
}

#sparkles > path:nth-child(26) {
  -webkit-animation-delay: 910ms;
          animation-delay: 910ms;
}

#sparkles > path:nth-child(27) {
  -webkit-animation-delay: 945ms;
          animation-delay: 945ms;
}

#sparkles > path:nth-child(28) {
  -webkit-animation-delay: 980ms;
          animation-delay: 980ms;
}

#sparkles > path:nth-child(29) {
  -webkit-animation-delay: 1015ms;
          animation-delay: 1015ms;
}

@-webkit-keyframes sparklyBits {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sparklyBits {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=Apps.css.map */